body,
button,
input,
select,
textarea {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #209cee;
}

html,
body,
.section,
.section > .container,
.section > .container > .columns,
.section > .container > .columns > .column {
  min-height: 98vh;
}

html, body {
  background-color: #f4f5f6;
  margin: 0;
  padding: 0;
}

p.title {
  border-bottom: 1px solid rgb(119, 119, 119);
  padding-bottom: 0.5rem;
  font-size: 1.75rem;
}

input::-webkit-calendar-picker-indicator {
	color: #000;
	height: 6px;
	position: relative;
	width: 8px;
	z-index: 0;
}

input::-webkit-calendar-picker-indicator:before {
	background: transparent;
	background: linear-gradient(90deg, #eee, #fff);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 24px;
	content: '';
	display: block;
	height: 22px;
	left: -2px;
	position: absolute;
	top: -5px;
	width: 22px;
	z-index: -1;
}

input::-webkit-calendar-picker-indicator:hover {
	background: #ddd;
}

.btn-icon {
  margin-right: 0.35rem;
}

.button[disabled] {
  cursor: default;
}

.button.is-info {
  background-color: #209cee;
}

.button.is-danger.is-hovered,
.button.is-danger:hover {
  background-color: #e0284d;
}

.button.is-danger[disabled].is-hovered,
.button.is-danger[disabled]:hover {
  background-color: #ff3860;
}

.flex-right {
  justify-content: flex-end;
}

.header-title {
  margin-bottom: 2rem !important;
  text-align: center;
}

.header-title a,
.header-title a:hover,
.header-title a:focus {
  color: #363636;
  text-decoration: none;
  cursor: pointer;
}

.landing-box {
  padding-left: 0;
  padding-right: 0;
}

.landing-box-content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.landing-container {
  margin-top: 3rem;
}

.navbar {
  margin-bottom: 2rem;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-left: -2rem;
  margin-right: -2rem;
}

.navbar-end {
  margin-right: -0.01rem;
}

.navbar-open {
  border-bottom: 1px solid hsla(0,0%,4%,.1);
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  background-color: transparent !important;
  /*border-top: 1px solid #209cee !important;*/
  color: #209cee !important;
  /*margin-top: -1px !important;*/
}

@media screen and (min-width: 1024px) {
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: transparent !important;
    /*border-top: 1px solid #209cee !important;*/
    color: #209cee !important;
    /*margin-top: -1px !important;*/
  }

  .navbar-dropdown > a.navbar-item.is-active,
  .navbar-dropdown > a.navbar-item:hover {
    background-color: #209cee !important;
    /*border-top: 0px solid transparent !important;*/
    color: #fff !important;
    /*margin-top: 0 !important;*/
  }

  .navbar-link:after,
  .navbar-link:hover:after {
    display: none;
  }

  .navbar-dropdown {
    border: 1px solid #dbdbdb;
  }
}

.notification {
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.notification.is-danger {
  background-color: rgb(248, 215, 218);
  border: 1px solid rgb(225, 178, 183);
  color: rgb(114, 28, 36);
}

.notification.is-success {
  background-color: rgb(212, 237, 218);
  border: 1px solid rgb(175, 210, 183);
  color: rgb(21, 87, 36);
}

.pagination-link,
.pagination-next,
.pagination-previous {
  color: #00d1b2;
}

.pagination-link.is-current {
  color: #fff;
}

.pagination-link[disabled],
.pagination-next[disabled],
.pagination-previous[disabled] {
  color: #7a7a7a;
}

.recipe-card {
  margin-bottom: 1rem;
  cursor: pointer;
}

.recipe-card > .card-header {
  background-color: #f4f5f6;
}

.recipe-card > .card-header > .card-header-title {
  color: #363636;
}

.recipe-card:hover {
  box-shadow: 0 2px 3px #209cee, 0 0 0 1px #209cee;
}

.recipe-card:hover > .card-header {
  /*background-image: linear-gradient(141deg, #00d1b2, #00d1b2 60%, #019b84);*/
  background-color: #209cee;
}

.recipe-card:hover > .card-header > .card-header-title {
  color: #fff;
}

.recipe-card-date {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.recipe-card-date > .tag {
  cursor: inherit;
}

.recipe-top-container > .tag {
  position: absolute;
  bottom: 0;
  right: 0;
}

.recipe-top-container > .top-right {
  align-self: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.recipe-top-container {
  margin-bottom: 0.5rem;
  position: relative;
  display: flex;
}

.require-field-notice {
  text-align: right;
}

.required-field-marker {
  color: #ff3860;
  font-weight: 700;
}

.ribbon.is-info:not(.is-outlined) {
  background-color: #209cee;
}

.section > .container > .columns > .column {
  background-color: #ffffff;
  padding: 2rem;
  border: 1px solid rgb(219, 219, 219);
}

.section {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.tabs li.is-active a {
  border-bottom-color: #00d1b2; /*#209cee;*/
  color: #00d1b2; /*#209cee;*/
}

.tag {
  cursor: default;
}

.textarea {
  padding: calc(.375em - 1px) calc(.625em - 1px);
}

.title-icon {
  font-size: 1.25rem;
}

.view-recipe-body {
  margin-bottom: 1.5rem;
}

.view-recipe-body > .tooltip {
  position: absolute;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: default;
}

.view-recipe-body > .hero-body > .container > .title {
  margin-bottom: 2rem;
}

#pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media print {
  input,
  button,
  a,
  .button,
  .navbar,
  .recipe-top-container,
  .header-title {
    display: none;
  }

  .section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-body {
    padding: none;
  }

  .hero-body > .container > .title {
    color: black;
  }

  .section>.container>.columns>.column {
    padding: none;
    border: none;
  }

  .view-recipe-body {
    margin-bottom: 0.5rem;
  }

  .column.is-three-quarters,
  .column.is-8,
  .container {
    margin-left: 0;
    margin-right: 0;
    padding: none;
    width: 100%;
    max-width: 100%;
  }
}
