.navbar {
  margin-bottom: 2rem;
  box-shadow: 0 2px 3px hsla(0,0%,4%,0.1), 0 0 0 1px hsla(0,0%,4%,0.1);
}

.navbar-open {
  border-bottom: 1px solid hsla(0,0%,4%,.1);
}

.landing-box {
  padding-left: 0;
  padding-right: 0;
}

.landing-box-content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.notification {
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}

.notification.is-danger {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.notification.is-success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.card.recipe-card {
  margin-bottom: 1rem;
  cursor: pointer;
}

.card.recipe-card:hover {
  box-shadow: 0 2px 3px hsla(0,0%,4%,0.3), 0 0 0 1px hsla(0,0%,4%,0.3);
}

.card.recipe-card:hover > header > .card-header-title {
  color: #00d1b2;
}

#pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flex-right {
  justify-content: flex-end;
}

.button[disabled] {
  cursor: default;
}

/* The below was written for Bootstrap-Vue
#container {
  margin-top: 20px;
}

#navbar {
  margin-top: 10px;
  margin-bottom: 20px;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.is-valid:focus {
  border-color: #80bdff;
  box-shadow: none;
}

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: none;
}

.btn:focus, .btn:active {
  border: 1px solid transparent;
}

.btn-primary:focus, .btn-primary:hover {
  border: 1px solid #007bff;
}

:focus {
  outline: none;
  box-shadow: none;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.navbar-light {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

.dropdown-toggle:after {
  vertical-align: 0.15em;
}

.step-input-group {
  margin-bottom: 10px;
}
*/
